@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }

  body {
    @apply bg-background-light text-gray-900 antialiased;
  }

  .dark body {
    @apply bg-background-dark text-gray-100;
  }
}

@layer components {
  .input {
    @apply w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .btn-primary {
    @apply bg-primary text-white font-semibold py-3 rounded-lg hover:opacity-90 transition;
  }
}
